DSN                 twsnesopldp-scan.tdc.mycomp.com:1521/msopdb.tdc.mycomp.com     MSOPDB
DSN                 tpswpsgnldp-escan.mycompany.com:1521/esopdb.mycompany.com            ESOPDB
DSN                 tpswpsgnldp-sscan.mycompany.com:1521/ssopdb.mycompany.com	     SSOPDB
DSN                 sasnesopldp-scan.sdc.mycomp.com:1521/wsopdb.sdc.mycomp.com     WSOPDB	
DSN                 sopdbe.qcelqvmifzmp.us-east-1.rds.amazonaws.com:1521/sopdbe      SOPDBE
DSN                 sopdbw.qocu0muk7g9i.us-west-2.rds.amazonaws.com:1521/sopdbw	     SOPDBW
SINGLE_EVENT_AAS_THRESHOLD  16
REPLICATION_INFO_TAB  hc_qstatus_data
IOPS_THRESHOLD  20000
# BLACKOUT APPUSER_ACCOUNT_STATUS  SOPDBE|MSOPDB 
